@import url("./media-970.css");
@import url("./media-768.css");

@keyframes jump {
    0% {
        transform: translate(0) rotate(45deg);
    }
    50% {
        transform: translateY(10px) rotate(45deg);
    }
    100% {
        transform: translate(0) rotate(45deg);
    }
}
@font-face {
    font-family: 'HomizioNova';
    src: url(../fonts/homizio_nova_light.ttf) format('truetype');
    src: url(../fonts/homizio_nova_regular.ttf) format('truetype');
}
.wide {
    width: 100%;
}
.primary {
    width: 970px;
    margin: auto;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'HomizioNova', sans-serif;
}
.header {
    background: url('../img/bg-header.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.header .element.active:hover {
    background: #ea509c;
    transition: all .3s;
    cursor: pointer;
}
.header .element {
    transition: all .3s;
    width: 120px;
    height: 120px;
    border: 1px solid #FFF;
    display: inline-block;
    box-sizing: border-box;
    margin-top: -5px;
    margin-left: -4px;
    position: relative;
}
.header .element.double-width {
    width:240px;
}
.header .element img {
    width: 200%;
}
.header .element.with-bg {
    background: linear-gradient(25deg, black, #ea509c78);
}
.header .element.with-picture {
    background: linear-gradient(80deg, black, #ea509c78);
}
.header .element.with-picture-secondary {
    background: linear-gradient(-70deg, black, #ea509c78);
}
.header .element.line-bottom-right:after {
    content: '';
    width: 140px;
    height: 1px;
    background: #FFF;
    bottom: -140px;
    right: 71px;
    display: block;
    transform: rotate(-90deg);
    position: relative;
}
.header .element .brandname u {
    text-decoration: none;
    font-size: 72px;
    color: #ea509c;
}
.header .element .brandname span {
    color: #ea509c;
}
.header .element .brandname {
    transform: none;
    margin: auto;
    font-size: 32px;
    height: inherit;
    width: inherit;
    top: -10px;
}
.header .element p {
    transform: rotate(45deg);
    width: 80px;
    height: 36px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: #FFF;
}
.header .section-left {
    transform: rotate(-45deg);
    position: absolute;
    top: -50px;
    margin: auto;
    width: 50%;
    bottom: 0;
    left: 93px;
    right: 0;
    width: 624px;
    height: 686px;
}
.header .nb-b-r {
    border-right: 0;
    border-bottom: 0;
}
.header .nb-b-l-r {
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
}
.header .nb {
    border: 0;
}
.diamond {
    display: block;
    margin: auto;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    width: 25px;
    height: 35px;
}
.section-left {
    position: relative;
}
.social {
    display: block;
    transform: rotate(45deg);
    border: 0 !important;
    width: 200px !important;
    height: 200px !important;
    position: absolute !important;
    bottom: 105px;
    right: 0;
}

.facebook {
    display: inline-block;
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
    border: 1px solid #FFF;
    margin: 0 2px;
}
.facebook i {
    color: #fff;
    transform: rotate(45deg);
    text-align: center;
    display: block;
    line-height: 27px;
}
.facebook:hover {
    background: #ea509c;
    transition: all .3s;
    cursor: pointer;
}
.twitter {
    display: inline-block;
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
    border: 1px solid #FFF;
    margin: 0 5px;
}
.twitter i {
    color: #fff;
    transform: rotate(45deg);
    text-align: center;
    display: block;
    line-height: 27px;
}
.twitter:hover {
    background: #ea509c;
    transition: all .3s;
    cursor: pointer;
}

.globe {
    display: inline-block;
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
    border: 1px solid #FFF;
    margin: 0 4px;
}
.globe i {
    color: #fff;
    transform: rotate(45deg);
    text-align: center;
    display: block;
    line-height: 27px;
}
.globe:hover {
    background: #ea509c;
    transition: all .3s;
    cursor: pointer;
}
.skype {
    display: inline-block;
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
    border: 1px solid #FFF;
    margin: 12px 20px;
}
.skype i {
    color: #fff;
    transform: rotate(45deg);
    text-align: center;
    display: block;
    line-height: 27px;
}
.skype:hover {
    background: #ea509c;
    transition: all .3s;
    cursor: pointer;
}
.viber {
    display: inline-block;
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
    border: 1px solid #FFF;
    margin: 0 11px;
}
.viber i {
    color: #fff;
    transform: rotate(45deg);
    text-align: center;
    display: block;
    line-height: 27px;
}
.viber:hover {
    background: #ea509c;
    transition: all .3s;
    cursor: pointer;
}
.instagram {
    display: inline-block;
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
    border: 1px solid #FFF;
    margin: 0 50px;
}
.instagram i {
    color: #fff;
    transform: rotate(45deg);
    text-align: center;
    display: block;
    line-height: 27px;
}
.instagram:hover {
    background: #ea509c;
    transition: all .3s;
    cursor: pointer;
}
.diamond .small {
    display: block;
    transform: rotate(45deg);
    border: 2px solid grey;
    width: 20px;
    height: 20px;
    margin: auto;
    margin-bottom: -10px;
    animation: jump .8s infinite;
}
.diamond .big {
    display: block;
    transform: rotate(45deg);
    background-color: white;
    width: 25px;
    height: 25px;
    margin: auto;
    animation: jump .8s infinite;
    animation-delay: .1s;
}
.diamond .big i {
    display: block;
    color: grey;
    transform: rotate(-45deg);
    font-size: 15px;
    line-height: 27px;
    text-align: center;
}
.after {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #e83a93;
    position: absolute;
    transform: rotate(45deg);
    bottom: -19px;
    right: 250px;
}
.after i {
    display: block;
    color: white;
    transform: rotate(-45deg);
    font-size: 20px;
    line-height: 39px;
    text-align: center;
}
/*
#page-starter {
    margin: 50px 0;
}*/
.colored {
    color: #ea509c;
}
.presentation {
    padding: 70px 0;
}
.presentation h2 {
    font-weight: normal;
    text-align: center;
    color: #777777;
    margin-bottom: 0;
    font-size: 36px;
    margin: 0;
}
.presentation p {
    text-align: center;
    line-height: 26px;
    padding: 0px 70px;
    color: #939191;
    letter-spacing: 1px;
    margin-top: 20px;
}
.inner__shape {
    margin: auto;
    display: block;
    text-align: center;
    padding-top: 50px;
}
.inner__shape .shape__1 {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 0 40px;
    border: 2px solid #e83a93;
    transform: rotate(45deg);
    position: relative;
    box-sizing: border-box;
    transition: all 0.4s ease-out;
    overflow: hidden;
}
/*Rollback text rotating*/
.shape__1:hover span {
    transform: rotate(0);
    transition: all .3s;
}
.shape__1:hover {
    transform: rotate(0);
    background-color: #f094c354;
    box-shadow: 0px 0px 32px rgba(232,58,147,.5);
    border-radius: 12px;
    cursor: pointer;
}

.shape__1 span {
    transition: all .3s;
    transform: rotate(-45deg);
    width: 104px;
    height: 36px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: grey;
}
.shape__1 span:nth-child(1) {
    font-size: 30px;
}
.shape__1 span:nth-child(2) {
    line-height: 77px;
}
.shape__1 .project__inner {
    display: block;
    line-height: 20px;
}

.us {
    background-color: #eeeeee;
    padding: 40px 0;
}
.text__1 h2 {
    font-weight: normal;
    text-align: center;
    color: #777777;
    font-size: 36px;
    margin: 0;
}
.text__1 p {
    text-align: center;
    line-height: 26px;
    padding: 0px 70px;
    color: #939191;
    letter-spacing: 1px;
    margin-top: 20px;
}
.text__2 {
    padding-top: 20px;
    width: 525px;
    float: left;
    letter-spacing: 1px;
}
.text__2 p:nth-child(1) {
    text-align: left;
    line-height: 26px;
    padding: 0px 70px;
    color: #939191;
}
.text__2 p:nth-child(2) {
    text-align: left;
    line-height: 26px;
    padding: 0px 70px;
    color: #939191;
}
.steet__img img {
    display: block;
    width: 345px;
    margin-top: 52px;
}
.more {
    width: 200px;
    background-color: #e83a93;
    width: 130px;
    height: 40px;
    margin: 20px 67px;
    border-radius: 4px;
    text-align: center;
    padding: 3px;
    transition: all 0.5s;
    cursor: pointer;
}
.more span {
    display: inline-block;
    color: white;
    font-weight: normal;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}
.more span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.more:hover span {
  padding-right: 15px;
}
.more:hover span:after {
  opacity: 1;
  right: 0;
}
.slider {
  position: relative;
  width: 360px;
  margin: 32px auto;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
  float: right;
}

.slider input[name="switch"] {
  display: none;
}
.clearfix {
    clear: both;
}
.switch {
  position: absolute;
  left: 0;
  bottom: -40px;
  text-align: center;
  width: 100%;
}

.switch label {
  display: inline-block;
  width: 8px;
  height: 8px;
  cursor: pointer;
  margin: 0 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
  border-radius: 50%;
  border: 5px solid #2f363c;
  background-color: #e83a93;
}

#btn1:checked~.switch label[for="btn1"] {
  background-color: white;
}

#btn2:checked~.switch label[for="btn2"] {
  background-color: white;
}

#btn3:checked~.switch label[for="btn3"] {
  background-color: white;
}

.slider-inner {
  overflow: hidden;
}

.slides {
  width: 300%;
  transition: all 0.5s;
}

.slides img {
  width: 360px;
  height: 255px;
  float: left;
}

#btn1:checked~slider-inner slides {
  transform: translate(0);
}

#btn2:checked~.slider-inner .slides {
  transform: translate(-33.3333333%);
}

#btn3:checked~.slider-inner .slides {
  transform: translate(-66.666666%);
}
.service {
    padding: 50px 0;
    margin: auto;
}
.services {
    margin: auto;
    display: block;
    margin-top: 35px;
}
.service-container {
    margin: auto;
    display: inline-block;
    width: calc(33.3333333% - 4px);
}
.icon {
    display: block;
    float: left;
    transform: rotate(45deg);
    border: 2px solid #dcd0d0;
    margin: 15px 35px;
    width: 50px;
    height: 50px;
}
.icon i {
    transform: rotate(-45deg);
    margin: auto;
    text-align: center;
    color: #e83a93;
    line-height: 46px;
    display: block;
}
.service__ineer h2 {
    margin: auto;
    text-align: center;
    font-weight: 400;
    color: #777777;
    font-size: 36px;
}
.service__ineer p {
    margin: auto;
    color: #939191;
    letter-spacing: 1px;
    margin-top: 15px;
}
.contents span {
    letter-spacing: 1px;
    color: #777777;
}
.service-container:hover .icon {
    border: 2px solid #e83a93;
    transition: all .3s;
    cursor: pointer;


}

/* .icon {
    width: 40px;
    height: 40px;
    border: 1px solid #d5caca;
    transform: rotate(45deg);
}

.icon i {
    transform: rotate(-45deg);
    color: #ea509c;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    text-align: center;
    margin: auto;
    width: 20px;
    height: 20px;
} */

.text-center {
    text-align: center;
}
.column {
    display: inline-block;
    width: calc(33.333333% - 3px);
}
.column p {
    width: 80%;
    margin: 0;
    line-height: 21px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column span {
    text-align: center;
    color: #777777;
}
.row__two {
    margin-top: 35px;
}
.phone {
    background-image: url(../img/cake.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
    padding: 50px 0;
}
.phone:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,.9);
    top: 0;
    left: 0;
}
.phone__inner {
    display: block;
    margin: auto;
}
.ipad {
    float: left;
    z-index: 9;
    position: absolute;
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 450px;
    height: 263px;
}
.ipad img {
    width: inherit;
}
.wrap__text {
    display: block;
    float: right;
    margin: 32px 103px;
}
.phone__text {
    width: 250px;
    z-index: 9;
    position: relative;
    color: #fff;
    margin: 50px 0;
}
.phone__text p {
    text-align: left;
    font-weight: normal;
    letter-spacing: 1px;
    font-weight: 100;
    width: 325px;
    font-size: 13px;
}
.phone__text span {
    letter-spacing: 2px;
}
.bottn span {
    display: inline-block;
    color: white;
    font-weight: normal;
    text-align: center;
    line-height: 37px;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}
.bottn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.bottn:hover span {
  padding-right: 15px;
}
.bottn:hover span:after {
    opacity: 1;
    right: 0;
}
.bottn {
    background-color: #e83a93;
    width: 130px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    padding: 3px;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 9;
    position: relative;
}
.bottom__row {
    width: 880px;
    height: 42px;
    background-color: #eeeeee ;
    margin: auto;
    text-align: center;
    margin-top: -42px;
    position: relative;
}
.audio {
    display: inline-block;
    position: relative;
    z-index: 9;
}
.audio img {
    display: block;
    width: 144px;
    height: 34px;
    margin: 23px 30px;

}
.diamonds {
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    left: -67px;
    top: 10px;
}
.diamonds i {
    display: block;
    color: white;
    font-size: 15px;
    line-height: 33px;
    text-align: center;
}
.post {
    background-color: #eeeeee;
    padding: 60px 0;
}

.column__post {
    margin: auto;
    display: block;
}
.column__post h2 {
    text-align: center;
    font-weight: 400;
    color: #777777;
    font-size: 36px;
    margin: 0;
}
.column__one .data {
    padding: 18px;
}
.column__one {
    display: inline-block;
    width: calc(33.333333% - 23px);
    background-color: white;
    margin: 25px 10px 0 10px;
    padding-bottom: 10px;
    transform: scale(1);
    transition: transform .5s;
}
.column__one:hover .photo:after {
    display: block;
}
.column__one:hover {
    transform: scale(1.1);
    border-bottom: 2px solid #e83a93;
}
.column__one img {
    display: block;
    width: 100%;
}
.column__one .photo {
    height: 200px;
    position: relative;
}
.column__one .photo:after {
    content: '';
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
}
.column__one span {
    color: #777777;
    letter-spacing: 1px;
}
.column__one p {
    font-size: 14px;
    color: #777777;
    letter-spacing: 1px;
}
.clue {
    display: block;
    transform: rotate(45deg);
    background-color: #e83a93;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: auto;
    margin: auto;
    top: 90px;
    visibility: hidden;
}
.clue i {
    display: inline-block;
    color: #fff;
    transform: rotate(-45deg);
    text-align: center;
    display: block;
    line-height: 27px;
    font-size: 11px;
}
.column__one:hover .clue {
    transition: all .3s;
    visibility: visible;
}
.september {
    float: left;
    padding: 0 18px;
}
.september i {
    color: #e83a93;
}
.comment {
    float: right;
    padding-right: 85px;
}
.comment span {
    display: inline-block;
}
.comment i {
    color: #e83a93;
}
.underlined {
    border-bottom: 3px solid #e83a93;
}
.column__two {
    border-bottom: 3px solid #e83a93;
    display: inline-block;
    width: calc(21.333333% - 3px);
    background-color: white;
    margin-top: 25px;
}
.column__two img {
    display: block;
    width: 100%;
}
.column__two span {
    color: #777777;
}
.column__two p {
    font-size: 14px;
    color: #777777;
}
.posts__more {
    margin: auto;
    width: 200px;
    background-color: #e83a93;
    width: 130px;
    height: 40px;
    letter-spacing: 1px;
    margin-top: 50px;
    border-radius: 4px;
    text-align: center;
    padding: 3px;
    transition: all 0.5s;
    cursor: pointer;
}
.posts__more span {
    display: inline-block;
    color: white;
    font-weight: normal;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
    position: relative;
    transition: 0.5s
}
.posts__more span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}
.posts__more:hover span {
    padding-right: 15px;
}
.posts__more:hover span:after {
    opacity: 1;
    right: 0;
}
.row__three {
    display: block;
    margin: auto;
}
.col {
    display: inline-block;
    height: 150px;
    text-align: center;
    width: calc(20% - 65px);
    margin: 25px 25px 0 25px;
}
.skills__inner h2 {
    color: #777777;
    font-weight: 400;
    text-align: center;
    font-size: 36px;
}
.skills {
    padding: 50px 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
.set-size {
    font-size: 15px;
    margin: auto;
    display: block;
    margin: auto;
    text-align: center;
}
.set__inner {
    display: inline-block;
    width: 150px;
}
.set__inner .cloud span {
    font-size: 15px;
    color: #777777;
}
.pie-wrapper {
    height: 100px;
    width: 100px;
    display: inline-block;
    position: relative;
}
.pie-wrapper .pie {
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
}
.pie-wrapper .pie .half-circle {
    height: 100%;
    width: 100%;
    border: 4px solid #3498db;
    border-radius: 50%;
    clip: rect(0, 50px, 100px, 0);
    left: 0;
    position: absolute;
    top: 0;
}
.pie-wrapper .label {
    color: #bdc3c7;
    font-size: 40px;
    position: absolute;
    text-align: center;
    top: 0;
    left: 5px;
    bottom: 5px;
    right: 0;
    margin: auto;
    width: 50px;
    height: 40px;
}
.pie-wrapper .label .smaller {
    color: #bdc3c7;
    font-size: 15px;
    padding-bottom: 20px;
    vertical-align: super;
}
.pie-wrapper .shadow {
    height: 100%;
    width: 100%;
    border: 4px solid #bdc3c7;
    border-radius: 50%;
}
.pie-wrapper.progress-30 .pie .right-side {
    display: none;
}
.pie-wrapper.progress-30 .pie .half-circle {
    border-color: #3498db;
}
.pie-wrapper.progress-30 .pie .left-side {
    transform: rotate(92deg);
    clip: rect(0, 63px, 50px, 0);
}
.pie-wrapper.progress-60 .pie {
    clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-60 .pie .right-side {
    transform: rotate(180deg);
}
.pie-wrapper.progress-60 .pie .half-circle {
    border-color: #9b59b6;
}
.pie-wrapper.progress-60 .pie .left-side {
    transform: rotate(216deg);
}
.pie-wrapper.progress-90 .pie {
    clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-90 .pie .right-side {
    transform: rotate(180deg);
}
.pie-wrapper.progress-90 .pie .half-circle {
    border-color: #e67e22;
}
.pie-wrapper.progress-90 .pie .left-side {
    transform: rotate(324deg);
}
.pie-wrapper.progress-45 .pie .right-side {
    display: none;
}
.pie-wrapper.progress-45 .pie .half-circle {
    border-color: #1abc9c;
}
.pie-wrapper.progress-45 .pie .left-side {
    transform: rotate(172deg);
    clip: rect(0, 44px, 100px, 0);
}
.skill__text {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: -33px;
}

.latest {
    padding: 100px 0;
}
.latest__inner {
    margin: auto;
    display: grid;
}
.latest__inner h2 {
    color: #777777;
    font-weight: 400;
    text-align: center;
    font-size: 36px;
}
.row  {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 138px);
    grid-template-rows: repeat(2, 150px);
}
.row__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease-out;
    overflow: hidden;
}
.row__img img:hover {
    transform: scale(1.3);
}
.col span {
    color: #777777;
}
.offers {
    background-color: #eeeeee;
    padding: 70px 0;
}
.offers__inner h2 {
    color: #777777;
    font-weight: 400;
    text-align: center;
    margin: 0;
    font-size: 36px;
}
.cols {
    margin: auto;
    display: block;
    padding-top: 25px;
    color: #777777;
}
.standart {
    position: relative;
    display: inline-block;
    width: calc(33.333333% - 23px);
    background-color: white;
    margin: 0px 10px;
}
.standart .title {
    text-align: center;
    display: block;
    padding-top: 45px;
    font-size: 22px;
}
.standart .price {
    text-align: center;
    display: block;
    font-size: 40px;
    padding: 23px 0;
    position: relative;
 }
.standart p {
    text-align: center;
    padding: 0px 65px;
    margin: 0;
    line-height: 27px;
}
.take__btn span {
    display: block;
    font-size: 15px;
    color: white;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;


}
.take__btn {
    position: relative;
    width: 100px;
    height: 40px;
    background-color: #555555;
    margin: auto;
    bottom: -20px;
    border-radius: 4px;
}
.take-action {
    background-color: #ea509c;
}
.take span {
    display: block;
    font-size: 15px;
    color: white;
    line-height: 36px;
    text-align: center;
    font-size: 15px;
}
.subscribe {
    background-image: url("../img/fon.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 60px 0;
}
.subscribe:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
}
.subscribe__inner {
    z-index: 10;
    position: relative;
}
.sub h2 {
    color: white;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    font-size: 36px;
    margin: 0;
    word-spacing: -3px;
}
.sub p {
    font-weight: 400;
    text-align: center;
    color: white;
    padding-top: 20px;
    letter-spacing: 2px;
}
.now {
    width: 100px;
    height: 40px;
    background-color: #e83a93;
    margin: auto;
    margin-top: 57px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    padding: 3px;
    transition: all 0.5s;
    cursor: pointer;
}
.now span {
    display: inline-block;
    font-size: 15px;
    color: white;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
}
.now span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
  color: white;
}
.now:hover span {
  padding-right: 10px;
}
.now:hover span:after {
  opacity: 1;
  right: 0;
}
.sub {
    display: block;
}
.form {
    margin-top: 57px;
}
.form .email input {
    margin: auto;
    display: block;
}
.form input {
    width: 525px;
    height: 40px;
    background-color: #bab5b7;
    border: none;
    border-radius: 5px;
    opacity: .6;
    text-align: center;
}
.form .email input::placeholder {
    color: white;
    text-align: center;
    font-style: italic;
    z-index: 1;
}
.form input[type=text]:focus {
    background-color: #cec4c4;
    outline: none;
}
.details {
    padding: 40px 0;
}
.details__inner h2 {
    color: #777777;
    font-weight: 400;
    text-align: center;
    margin: 0;
    font-size: 36px;
}
.details__inner p {
    font-weight: 400;
    text-align: center;
    color: #777777;
    padding-top: 20px;
    letter-spacing: 2px;
}
.details__form {
    float: left;
}
.sides {
    display: block;
    margin: auto;
    width: 614px;
    margin-top: 30px;
}
.first input {
    display: block;
    width: 270px;
    height: 40px;
    border: none;
    background-color: #e5e2e2;
    border-radius: 5px;
    margin: auto;
    padding: 0 20px;
    margin-bottom: 32px;
}
.first input::placeholder {
    color: #aaaaaa;
}
.message {
    margin: auto;
    float: right;
}
.chat textarea {
    display: block;
    width: 300px;
    height: 184px;
    border: none;
    background-color: #e5e2e2;
    border-radius: 5px;
    margin: auto;
    resize: none;
}
.chat textarea::placeholder {
    color: #aaaaaa;
    padding: 12px 20px;
    font-size: 14px;
    letter-spacing: none;
}
.first input[type=text]:focus {
    background-color: #d8d3d3;
    outline: none;
}
.chat textarea:focus {
    background-color: #d8d3d3;
    outline: none;
}

.icons {
    margin: auto;
}
.icons ul {
    text-align: center;
    margin: auto;
    list-style: none;
}
.icons ul li {
    display: inline-block;
    font-size: 22px;
}
.icons ul li i:hover {
    opacity: 0.7;
}
.icons ul li:nth-of-type(1) {
    color: #2980b9;
}
.icons ul li:nth-of-type(2) {
    color: #00c4d0;
}
.icons ul li:nth-of-type(3) {
    color: #e83a93;
}
.icons ul li i {
    padding-right: 20px;
}
.footer__inner {
    padding: 20px 0;
}
.footer__inner p {
    padding-top: 20px;
    color: #958b8b;
    margin: auto;
    text-align: center;
    letter-spacing: 1px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #e83a93;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: #958b8b;
}
.modal-image img {
    width: inherit;
}
.modal-image {
    width: 640px;
    box-sizing: content-box;
    height: fit-content;
    background: #FFF;
    padding: 10px;
    border: 1px solid #DDD;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    display: none;
    cursor: pointer;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;
    cursor: pointer;
}
