.wide {
    width: 100%;
}
.primary {
    width: 970px;
    margin: auto;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.header  {
    background-color: #939188;
    width: 100%;
    height: 920px;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.logo__menu {
    height: 54px;
    background-color: #8c8a88;
    opacity: .7;
}
.logo img {
    float: left;
    width: 125px;
    display: block;
    padding-top: 20px;
}
.navigation {
    padding-top: 11px;
    margin: auto;
}
.navigation ul li {
    list-style: none;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 100;
    width: calc(12.666666% - 4px);
}
.navigation ul {
    text-align: center;
    margin: 0;
    padding: 0;
}
.banner_inner {
    height: 60px;
    display: block;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.icons i {
    padding-right: 25px;
}
.pastry {
    margin: auto;
    margin-bottom: 45px;
    position: relative;
}
.pastry span {
    display: block;
    color: white;
    text-align: center;
    font-size: 80px;
    letter-spacing: 12px;
}
.dashed img {
    display: block;
    margin: auto;
    z-index: 10;

}
.our {
    margin: auto;
    width: 100px;
    height: 25px;
    background-color: #6f6969;
    opacity: .7;
    border: 1px dashed #bda7a7;
    position: relative;
    z-index: 10;
}
.our span {
    display: block;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 10px;
    letter-spacing: 2px;
    padding-top: 5px;
    font-weight: bold;
}
.text {
    margin:auto;
    margin-top: 40px;
    margin-bottom: 125px;
    position: relative;
    z-index: 10;
}
.text span {
    display: block;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    font-size: 14px;
}
.blur__bg {
    width:300px;
    height:300px;
    box-shadow: 0px 0px 130px rgba(0,0,0,.8);
    background: rgba(0,0,0,.35);
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    border-radius: 256px;
    z-index: 1;
}
.circle__inner {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -297px;
    margin: auto;

}
.middle__double {
    margin: auto;
    display: flex;
}
.art {
    border: 2px solid red;
    height: 600px;
    width: 50%;
    padding-top: 50px;
}
.art_text span:nth-of-type(1){
    display: block;
    text-align: center;
    color: #524a4a;
    font-weight: bold;
    font-size: 25px;
}
.art_text span:nth-of-type(2){
    margin-top: 5px;
    display: block;
    text-align: center;
    color: #a47d5e;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.art_text p {
    padding-top: 20px;
    display: block;
    text-align: center;
}
.art_text span:nth-of-type(3) {
    display: block;
    color: #56534c;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}
.image_chef img {
    padding-top: 25px;
    display: block;
    margin: auto;
    height: 100px;
}
.signature img {
    display: block;
    margin: auto;
    position: relative;
    height: 115px;
    padding-top: 70px;
}

.benito span {
    position: relative;
    display: block;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-spacing: 20px;
    font-weight: bold;
    color: grey;
}

.gaspare span {
    position: relative;
    display: block;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-spacing: 20px;
    font-weight: bold;
    color: grey;
    float: right;
}
.tastes {
    margin: auto;
    border: 2px solid red;
    height: 600px;
    padding-top: 50px;
    width: calc(50% - 4px);
}
.good img {
    display: inline-block;
    margin: auto;
    width: 480px;
    height: 440px;
    padding: 80px 0;

}
.pancakes {
    width: 100%;
    height: 760px;
    background-image: url("../img/pan.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.pancakes__content {
    display: block;
    padding-top: 95px;
    position: relative;
    left: 100px;




}
.white_background {
    padding: 45px 55px;
    margin: auto;
    background-color: white;
    width: 290px;
    height: 290px;
    position: relative;
}
img__pancakes img {
    height: 350px;
    width: 300px;
}
.white_background span:nth-child(1) {
    font-weight: 600;
    display: block;
    color: #56534c;
    font-size: 22px;
    text-align: left;
}
.white_background span:nth-child(2) {
    font-size: 10px;
    text-transform: uppercase;
    color: #c5af9f;
}
.white_background p {
    font-size: 12px;
    padding-top: 40px;
    line-height: 18px;

}
.stars i {
    font-size: 8px;
    color: #c9b176;
    padding-top: 40px;
    padding-right: 6px;
}
.ellipsise  {
    text-align: center;
    display: inline-block;
    width: 85%;
}
.ellipsise  img {
    margin: 0 10px;
}
.ellipsise img:nth-child(1) {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-size: cover;
}
.ellipsise img:nth-child(2) {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-size: cover;
}
.ellipsise img:nth-child(3) {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-size: cover;
}
.season {
    margin-top: 40px;
}
.arrow {
    display: inline-block;
    width: 5%;
    height: 54px;
    line-height: 54px;
    vertical-align: top;
}
.arrow i:nth-child(1) {
    color: #c19797;
}
.arrow i:nth-child(2) {
    color: #c19797;
    float: right;
}
.ready {
    display: block;
    height: 140px;
    width: 148px;
    background-color: white;
    position: absolute;
    top: -50px;
    right: -50px;
    box-shadow: 4px 4px 16px #9b9797;


}

.ready span:nth-child(1) {
    display: block;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:#a47d5e;
    padding-top: 20px;
}
.ready span:nth-child(2) {
    display: block;
    font-size: 50px;
    text-align: center;
    color: #dfc691;
    font-weight: bold;
}
.ready span:nth-child(3) {
    display: block;
    text-align: center;
    font-size: 12px;

}
.img__pancakes img {
    display: block;
    width: 300px;
    height: 350px;
}


.img__panakes img {
    display: block;
    width: 310px;
    height: 380px;
    position: absolute;
    top: 95px;
    left: 180px;
}
.circle {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    top: 260px;
    left: 465px;
}
.sandwich__inner {
    height: 800px;
    background-color: white;
}
.sandwich__text {
    display: block;
    margin: auto;
}
.sandwich__text span:nth-child(1) {
    display: block;
    text-align: center;
}
.sandwich__text span:nth-child(2) {
    display: block;
    text-align: center;
}
.list {
    margin-top: 125px;
}

.aptent {
    display: block;
    width: 200px;
    height: 150px;
    padding-bottom: 15px;
}
.aptent img {
    display: block;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: auto;
}
.aptent span {
    display: block;
    color: #b09076;
    text-align: center;
    padding-top: 10px;

}
.aptent p {
    font-size: 12px;
    text-align: center;
    line-height: 15px;

}
.eget {
    width: 200px;
    height: 150px;
    padding-bottom: 15px;
}
.eget img {
    display: block;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: auto;

}
.eget span {
    display: block;
    color: #b09076;
    text-align: center;
    padding-top: 10px;
}
.eget p {
    display: block;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}
.purus {
    width: 200px;
    height: 150px;
}
.purus img {
    display: block;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: auto;
}
.purus span {
    display: block;
    color: #b09076;
    text-align: center;
    padding-top: 10px;
}
.purus p {
    display: block;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}
