body * {
    outline: 1px solid red;
}
.pos-fixed {
    background-color: red;
    height: 40px;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 1;
}
.pos-relative {
    margin-top: 50px;
    position: relative;
    top: 20px;
    top: 20px;
}

.pos-absolute {
    position: absolute;
    top:0;
    left:0;
    background-color: green;
}
